<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the Wall App</title>
</head>
<body>

	<h2 style="font-weight:300">Welcome to the Wall App</h2>

	<h3 style="font-weight:300">Hi {{first_name}},</h3>
	<p>Thanks for joining the Wall App community. You can now login and create wall messages.</p>
	<p>
		<i><strong>The Wall App Team</strong></i>
	</p>

</body>
</html>